.home-title{
  text-align: center;
  font-size: 3rem;
  color: white;

}
.head {
    background-color: rgb(255, 144, 144);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.image {
    width: 400px;
    margin: 0 auto;
}